{% extends "V.html" %}
{% block head %}
<style type="text/css">
    table.gridtable  th{
		text-align:center;
        padding: 8px;
        height: 20px;
	}
    table.gridtable  td{
        text-align:center;
		padding: 8px;
		height: 15px;
        }
</style>
{% endblock %}

{% block content %}
<!-- 承上连接V.html：content+content-header -->

<div class="container-fluid">
		<p style="font-family:YouYuan; font-size:30px; text-align:center; padding-top:15px; padding-bottom:15px;"> 
		<b style="font-weight: bold; color:#000000;">银行运营工作负责人说明</b>
		</p>
		<div style="width:958px; margin:0 auto;">
		<center>
        <table class="gridtable" border="1" cellspacing="0" width="100%" style="text-align:center;">
        <thead>
		<tr role="row">
            <th>业务负责人</th>
            <th>所有银行运营工作</th>
        </tr>
        <tr>
            <td rowspan="7">蓝伟云</td>
            <td> 银行对账 </td>
        </tr>
        <tr>
            <td> 银行退款 </td>
        </tr>
        <tr>
            <td> 银行漏单 </td>
        </tr>
        <tr>
            <td> 报警管理 </td>
        </tr>
        <tr>
            <td> 银行证书管理 </td>
        </tr>
        <tr>
            <td> 银行手续费收取 </td>
        </tr>
        <tr>
            <td> 充值及查单流程 </td>
        </tr>
        <tr>
            <td rowspan="3">蔡锦燕</td>
        <td> 银行查单（可疑交易） </td>
        </tr>
        <tr>
            <td> 客户投诉、咨询 </td>
        </tr>
        <tr>
            <td> 数据统计、分析 </td>
        </tr>
        <tr>
            <td rowspan="3"> 谢锶杰 </td>
        <td> 批量充值 </td>
        </tr>
        <tr>
            <td> 优惠券采购 </td>
        </tr>
        <tr>
            <td> 贺年年卡采购 </td>
        </tr>
        </thead>
        </table>
		</center>
		</div>

</div>
{% endblock %}
