{% extends "em/base.html" %}

{% block head %}

<link rel="stylesheet" href="/static/em/css/style.css" type="text/css"/>

<script type="text/javascript" src="/static/em/js/jquery-1.4.2.min.js"></script>
<script type="text/javascript" src="/static/em/js/script.js"></script>

<script type="text/javascript">
	function AddItems(){
		layer.open({
			title:'编辑信息',
			type: 1,
			shift:2,
			skin: 'layui-layer-rim', //加上边框
			area: ['30%', '65%'], //宽高
			content:'null',
			btn:['确认','取消'],
			yes:function(index){

				layer.alert('null')
			}
			});
	};
</script>
{% endblock %}

{% block content %}


	<div class="detail_zone">
		<div class="detail_content">
			<div class="row-fluid">
				<!-- <div class="span12"> -->
					<h3 style="float:left">事项ID:0001</h3>
					<span class="badge badge-info" style="margin-top:22px;float:right"><a href="/em/" style="color:white;">返回</a></span>
					<span class="badge badge-warning" style="margin-top:22px;float:right;" onclick="AddItems();">新增事项</span>
					<span class="badge badge-success" style="margin-top:22px;float:left" onclick="AddItems();">编辑</span>
					
				<!-- </div> -->
			</div>
			<div class="row-fluid">
				<div class="span2">
					<span><strong>事项当前状态:</strong></span>
				</div>
				<div class="span10">
					<span class="badge badge-success">进行中</span>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span2">
					<span><strong>发起人:</strong></span>
				</div>
				<div class="span4">
					<span>付小飞</span>
				</div>
				<div class="span2">
					<span><strong>发起时间:</strong></span>
				</div>
				<div class="span4">
					<span>2016-01-01 12:01:02</span>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span2">
					<span><strong>主办人:</strong></span>
				</div>
				<div class="span4">
					<span>付小飞</span>
				</div>
				<div class="span2">
					<span><strong>事项计划开始时间:</strong></span>
				</div>
				<div class="span4">
					<span>2016-01-02 12:01:02</span>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span2">
					<span><strong>知会人:</strong></span>
				</div>
				<div class="span4">
					<span>付小飞、黎励、毕英永</span>
				</div>
				<div class="span2">
					<span><strong>事项计划结束时间:</strong></span>
				</div>
				<div class="span4">
					<span>2016-01-02 12:01:02</span>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span2">
					<span><strong>事项简介:</strong></span>
				</div>
				<div class="span4">
					<span>无</span>
				</div>
				<div class="span2">
					<span><strong>实际结束时间:</strong></span>
				</div>
				<div class="span4">
					<span>进行中</span>
				</div>
			</div>
			<div class="row-fluid">
				<div class="span2">
					<span><strong>事项说明:</strong></span>
				</div>
				<div class="span4">
					<span>采购某某新设备</span>
				</div>

			</div>
			<div class="row-fluid">
				<div class="span2">
					</span><strong>当前进度:</strong></span>
				</div>
				<div class="span10">
					<div class="span11">
						<div class="progress progress-striped active">
	                  		<div style="width: 81%;" class="bar"></div>
	                	</div>
					</div>
					<div class="span1">
						<span>81%</span>
					</div>
				</div>
			</div>
		</div>
		<div class="detail_line"></div>
		<div class="paimai_list">
	    	<div class="paimai_content">   
	    		<!--事件完结-->
		    	<div class="list_head">
		    		<div class="time_box" ><p>事项结束</p></div>
		            <div class="clear"></div>
		       </div>   
		    	<div class="list_content">
		        	<div class="circle_title">飞</div>
		        	<div class="title_time">
		        		<h2>&nbsp;&nbsp;2016-01-01 22:10:11</h2>
		        	</div>
		            <dl>
		                <dd class="pm_organ">处理人员：<span>付小飞</span></dd>
		                <dd class="pm_organ">处理信息：<span>设备到货安装完成，系统安装完成，入库完成</span></dd>
		                <dd class="pm_organ">处理结果：<span>处理完成</span></dd>
		            </dl>
		            <div class="pm_date">
						<h2>05</h2>
					    <h3>十一月</h3>
					    <h4>2014</h4>
					</div>
		        </div>
		
		        <!--事件处理-->
		    	<div class="list_head1">
		    		<div class="time_box" ><p>事项处理</p></div>
		            <div class="clear"></div>
		        </div>
		    	<div class="list_content">
		        	<div class="circle_title">前</div>
		        	<div class="title_time">
		        		<h2>&nbsp;&nbsp;2016-01-05 10:10:10</h2>
		        	</div>
		            <dl>
		                <dd class="pm_organ">处理人员：<span>前台</span></dd>
		                <dd class="pm_organ">处理信息：<span>设备到货，运维领用</span></dd>
		                <dd class="pm_organ">处理结果：<span>进行中</span></dd>
		            </dl>
		            <div class="pm_date">
						<h2>05</h2>
					    <h3>十一月</h3>
					    <h4>2014</h4>
					</div>
				</div>
		    	<div class="list_content">
		        	<div class="circle_title">财</div>
		        	<div class="title_time">
		        		<h2>&nbsp;&nbsp;2016-01-01 22:10:17</h2>
		        	</div>
		            <dl>
		                <dd class="pm_organ">处理人员：<span>财务</span></dd>
		                <dd class="pm_organ">处理信息：<span>审批完成，报备，前台购买</span></dd>
		                <dd class="pm_organ">处理结果：<span>进行中</span></dd>
		            </dl>
		            <div class="pm_date">
						<h2>05</h2>
					    <h3>十一月</h3>
					    <h4>2014</h4>
					</div>
				</div>
		     	<div class="list_content">
		        	<div class="circle_title">励</div>
		        	<div class="title_time">
		        		<h2>&nbsp;&nbsp;2016-01-02 13:10:20</h2>
		        	</div>
		            <dl>
		                <dd class="pm_organ">处理人员：<span>黎励</span></dd>
		                <dd class="pm_organ">处理信息：<span>审批完成，提交财务</span></dd>
		                <dd class="pm_organ">处理结果：<span>进行中</span></dd>
		            </dl>
		            <div class="pm_date">
						<h2>05</h2>
					    <h3>十一月</h3>
					    <h4>2014</h4>
					</div>
		        </div>
		        <div class="list_content">
		        	<div class="circle_title">飞</div>
		        	<div class="title_time">
		        		<h2>&nbsp;&nbsp;2016-01-02 12:30:01</h2>
		        	</div>
		            <dl>
		                <dd class="pm_organ">处理人员：<span>付小飞</span></dd>
		                <dd class="pm_organ">处理信息：<span>发起采购流程</span></dd>
		                <dd class="pm_organ">处理结果：<span>进行中</span></dd>
		            </dl>
		            <div class="pm_date">
						<h2>05</h2>
					    <h3>十一月</h3>
					    <h4>2014</h4>
					</div>
		        </div>
		        <div class="list_content">
		        	<div class="circle_title">飞</div>
		        	<div class="title_time">
		        		<h2>&nbsp;&nbsp;2016-01-02 10:10:20</h2>
		        	</div>
		            <dl>
		                <dd class="pm_organ">处理人员：<span>付小飞</span></dd>
		                <dd class="pm_organ">处理信息：<span>不考虑安装虚拟机，改成虚拟机</span></dd>
		                <dd class="pm_organ">处理结果：<span>进行中</span></dd>
		            </dl>
		            <div class="pm_date">
						<h2>05</h2>
					    <h3>十一月</h3>
					    <h4>2014</h4>
					</div>
		        </div>
		       <!--事件发起-->
		    	<div class="list_head2">
		    		<div class="time_box" ><p>事项发起</p></div>
		            <div class="clear"></div>
		        </div>
		    	<div class="list_content">
		        	<div class="circle_title">飞</div>
		        	<div class="title_time">
		        		<h2>&nbsp;&nbsp;2016-01-01 22:09:09</h2>
		        	</div>
		            <dl>
		                <dd class="pm_organ">处理人员：<span>付小飞</span></dd>
		                <dd class="pm_organ">处理信息：<span>安装一台虚拟机，ip待定</span></dd>
		                <dd class="pm_organ">处理结果：<span>发起</span></dd>
		            </dl>
		            <div class="pm_date">
						<h2>05</h2>
					    <h3>十一月</h3>
					    <h4>2014</h4>
					</div>
				</div></div> 
    	</div>
	</div>



{% endblock %}