{% extends "V.html" %}

{% block head %}

<script type="text/javascript" src="/static/matrix/js/layer/layer.js"></script>
<script type="text/javascript" src="/static/matrix/js/dataBase.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    {% if perms.Matrix.configinfo_pagedataList %}
      loadTable(1);
    {% else %}
    $('#dataFrom').html('对不起,您没有查看权限,请联系系统管理员').css('text-align','center');
    {% endif%}
  });

  function addDialog(){
    var addTableHtml=$("#addTable").clone();
    // var parameters=['id','lip','wip','net','cpu','mem','disk','sys','usage'];
    var parameters=['id','baseid_id','public_ip','private_ip','cpu_info','men_info','disk_info','os','mgmt_ip','memo'];
    // var parameters=['id','public_ip','private_ip','cpu_info','men_info','disk_info','os','mgmt_ip','memo'];

    var inputBaseList=addTableHtml.find("select[name='baseid_id']");
    var baseid_selected=arguments[1];
      inputBaseList.attr("id","baseid_id");
            $.ajax({
              type:'POST',
              url:'/base_data/configinfo_pagedataList',
              data:"hostop={{ true_name }}",
              cache:false,
              dataType:'json',
              success:function(ret){
                if(!ret){
                  layer.alert("数据异常！");
                }else{
                  var baseinfolist=ret.baseinfolist;
                  for(var i=0;i<baseinfolist.length;i++){
                    // if(baseinfolist[i].id==baseid_selected){
                    //   $("#baseid").append($('<option selected="selected" value="'+baseinfolist[i].id+'" name="'+baseinfolist[i].id+'"></option>').html(baseinfolist[i].sid));
                    // }else{
                    //   $("#baseid").append($('<option value="'+baseinfolist[i].id+'" name="'+baseinfolist[i].id+'"></option>').html(baseinfolist[i].sid));
                    // }
                    if("undefined" == typeof baseid_selected||baseinfolist[i].sid!=baseid_selected){
                      $("#baseid_id").append($('<option value="'+baseinfolist[i].id+'" name="'+baseinfolist[i].id+'"></option>').html(baseinfolist[i].sid));
                    }else{
                      $("#baseid_id").append($('<option selected="selected" value="'+baseinfolist[i].id+'" name="'+baseinfolist[i].id+'"></option>').html(baseinfolist[i].sid));
                    }
                  }
                }
              },error:function(){
                layer.alert("未知异常！");
              }
            });




    if(arguments[0]){
      var buttonValue="更新";
      $.each(arguments,function(num,val){
        var inputName=addTableHtml.find("input[name='"+parameters[num]+"']");
        // if(parameters[num]=='baseid' || parameters[num]=='public_ip'){
        //   inputName.attr("readonly","readonly");
        // }
        if(parameters[num]=='baseid_id' || parameters[num]=='public_ip'){
          inputName.attr("readonly","readonly");
        }
          inputName.attr("id",parameters[num]);
          inputName.attr("value",val);
      });
    }else{
      var buttonValue="添加";
      $.each(parameters,function(){
        var inputName=addTableHtml.find("input[name='"+this+"']");
          inputName.attr("id",this);
      });
    }

    layer.open({
          title:'编辑信息',
          type: 1,
          shift:2,
          skin: 'layui-layer-rim', //加上边框
          area: ['30%', '50%'], //宽高
          content:addTableHtml.html(),
          btn:[buttonValue,'取消'],
          yes:function(index){

            var ret='';
            $.each(parameters,function(){
              ret+=this+'='+$("#"+this).val()+'&';
            });
            ret+="hostop={{ true_name }}"
            // 测试输出
            console.log(ret)
            $.ajax({
              type:'POST',
              url:'/base_data/configinfo_editFun',
              data:ret,
              dataType:'text',
              success:function(val){
                layer.close(index);
                if(val=='1'){
                  loadTable(1);
                }else{
                  layer.alert("操作失败");
                }
              },error:function(){
                layer.close(index);
                layer.alert("操作失败");
              }
            });

          }
      });
  }

  function keyEnter(event){
     var e = event || window.event || arguments.callee.caller.arguments[0];
     if(e && e.keyCode==13){ // enter 键
             loadTable(1);
      return false;
          }

  }

  function loadTable(val){
     $("#dataFrom").find("input[name='page']").val(val);
     $("#dataTab").dataTable({
        title:'主机配置信息详情',
        columns:[
        {key:'id',check:true,checkAll:true,width:'1%',align:'center'},
        {key:'baseid_id',name:'资源ID',width:'10%',align:'center'},
        {key:'public_ip',name:'公网IP',width:'10%',align:'center'},
        {key:'private_ip',name:'私网IP',width:'10%',align:'center'},
        {key:'cpu_info',name:'CPU信息',width:'10%',align:'center'},
        {key:'men_info',name:'内存信息',width:'5%',align:'center'},
        {key:'disk_info',name:'硬盘信息',width:'5%',align:'center'},
        {key:'os',name:'操作系统',width:'10%',align:'center'},
        {key:'mgmt_ip',name:'管理IP',width:'10%',align:'center'},
        {key:'memo',name:'备注',width:'10%',align:'center'}],
        formid:'dataFrom',
        loadAfter:tab_trOnclick,
    });
  }

  /**
  行添加双击事件
  **/
  {% if perms.Matrix.configinfo_editFun %}
  function tab_trOnclick(){
    var trs=$("#dataFrom_table tbody tr");
    for(var i=0;i<trs.length;i++){
      $(trs[i]).on("dblclick",function(){
        var tr=$(this);
        var tds=tr.find("td");
        var id=$(tds[0]).find("input").val();
        addDialog(id,$(tds[1]).text(),$(tds[2]).text(),$(tds[3]).text(),$(tds[4]).text(),$(tds[5]).text(),$(tds[6]).text(),$(tds[7]).text(),$(tds[8]).text(),$(tds[9]).text());
      });
    }
  }
  {% else %}
  function tab_trOnclick(){
    
  }

  {% endif%}

  /**
  删除功能
  **/
  function delData(){
    var inputChecks=$("input:checkbox[name='dataFrom_check']:checked");
    if(inputChecks.length==0){
      layer.alert('请选中删除项！');
      return;
    }
    layer.confirm('确认删除?', {icon: 2, title:'提示'},function(index){
      var orders='';
      for(var i=0;i<inputChecks.length;i++){
        orders+=inputChecks[i].value;
        if(i!=inputChecks.length-1){
          orders+=',';
        }
      }
      $.ajax({
        type:'POST',
        url:'/base_data/configinfo_deleteFun',
        dataType:'text',
        data:'id='+orders,
        success:function(text){
               layer.close(index);
               if(text=='1'){
                loadTable(1);
               }else{
                layer.alert('操作失败');
               }
        },error:function(){
          layer.close(index);
          layer.alert('操作失败');
        }
      });
    });

  }
</script>
{% endblock %}

{% block content %}
<!-- 承上连接V.html：content+content-header -->

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
   <!--aaa-->
    <form action="/base_data/configinfo_pagedataList" id="dataFrom" onSubmit="return false">
      <input type="hidden" id="page" name="page" value="1"/>
        <input type="hidden" id="num" name="num" value="15"/>
        <div>
          {% if perms.Matrix.configinfo_pagedataList %}
          <input type="text" name="tj" placeholder="请输入关键字,回车查询" id="tj" style="background-color: white; float:right" onKeydown="keyEnter();"/>
          {% endif %}
          {% if perms.Matrix.configinfo_editFun %}
          <input class="btn btn-primary" type="button" name="addButton" value="添加" onclick="addDialog();" style="float:left;"/>
          {% endif %}
          {% if perms.Matrix.configinfo_deleteFun %}
          <input class="btn btn-danger" type="button" name="deleteButton" value="删除" onclick="delData();" style="float:left;"/>
          {% endif %}
      
    </div>
    </form>
  <div id="dataTab"></div>
    <!-- end aa-->






  <div id="addTable" style="display:none;">
      <center>
           <table border="0" style="color:#000;">
               <tr style="display:none;">
                <td style="text-align:right;"><span style="position:relative; top:-5px;"></span></td>
                    <td><input type="text" name="id"/></td>
                </tr>
                <tr>
                  <td style="text-align:right;color:red"><span style="position:relative; top:-5px;">资源ID：</span></td>
                    <!-- <td><input type="text" name="baseid"/></td> -->
                    <td>
                      <select name="baseid_id"/></select>
                    </td>
                </tr>
                <tr>
                  <td style="text-align:right;"><span style="position:relative; top:-5px;">公网IP：</span></td>
                    <td><input type="text" name="public_ip"/></td>
                </tr>
                <tr>
                  <td style="text-align:right;"><span style="position:relative; top:-5px;">私网IP：</span></td>
                    <td><input type="text" name="private_ip"/></td>
                </tr>
                <tr>
                  <td style="text-align:right;"><span style="position:relative; top:-5px;">处理器：</span></td>
                    <td><input type="text" name="cpu_info"/></td>
                </tr>
                <tr>
                  <td style="text-align:right;"><span style="position:relative; top:-5px;">内存：</span></td>
                    <td><input type="text" name="men_info"/></td>
                </tr>
                <tr>
                  <td style="text-align:right;"><span style="position:relative; top:-5px;">磁盘：</span></td>
                    <td><input type="text" name="disk_info"/></td>
                </tr>
                <tr>
                  <td style="text-align:right;"><span style="position:relative; top:-5px;">操作系统：</span></td>
                    <td><input type="text" name="os"/></td>
                </tr>
                <tr>
                  <td style="text-align:right;"><span style="position:relative; top:-5px;">管理IP：</span></td>
                    <td><input type="text" name="mgmt_ip"/></td>
                </tr>
                <tr>
                  <td style="text-align:right;"><span style="position:relative; top:-5px;">备注信息：</span></td>
                    <td><input type="text" name="memo"/></td>
                </tr>
            </table>
         </center>
   </div>

   </div>
   </div>
   </div>

{% endblock %}