{% extends "V.html" %}

{% block head %}

<script type="text/javascript" src="/static/matrix/js/layer/layer.js"></script>
<script type="text/javascript" src="/static/matrix/js/dataBase.js"></script>
<script type="text/javascript" src="/static/matrix/js/preview/WdatePicker.js"></script>
<script type="text/javascript">
	$(document).ready(function(){
			loadTable(1);
	});

	function addDialog(){
		var addTableHtml=$("#addTable").clone();
		var parameters=['id','url','sid','isp','status','createtime','endtime','hostname'];
		$.each(arguments,function(num,val){
			var inputName=addTableHtml.find("input[name='"+parameters[num]+"']");
				inputName.attr("id",parameters[num]);
				if(val){
					inputName.attr("value",val);
				}
		});
		var inputStatus=addTableHtml.find("select[name='status']");
			inputStatus.attr("id","status");
			if(arguments[4]){
				inputStatus.find("option[name='"+arguments[4]+"']").attr("selected",true);
			}

		var buttonValue="添加";
		if(arguments[0]){
			buttonValue="更新";
		}

		layer.open({
					title:'编辑信息',
				 	type: 1,
					shift:2,
					skin: 'layui-layer-rim', //加上边框
					area: ['30%', '41%'], //宽高
					content:addTableHtml.html(),
					btn:[buttonValue,'取消'],
					yes:function(index){

						var ret='';
						$.each(parameters,function(){
							ret+=this+'='+$("#"+this).val()+'&';
						});
						ret+="hostop={{ true_name }}"

						$.ajax({
							type:'POST',
							url:'/admin_data/baseinfo_editFun',
							data:ret,
							dataType:'text',
							success:function(val){
								layer.close(index);
								if(val=='1'){
									loadTable(1);
								}else{
									layer.alert("操作失败");
								}
							},error:function(){
								layer.close(index);
								laery.alert("操作失败");
							}
						});

					}
			});
	}

	function keyEnter(event){
		 var e = event || window.event || arguments.callee.caller.arguments[0];
		 if(e && e.keyCode==13){ // enter 键
             loadTable(1);
			return false;
          }

	}

	function loadTable(val){
		 $("#dataFrom").find("input[name='page']").val(val);
		 $("#dataTab").dataTable({
				title:'云资源信息详情',
				columns:[
				{key:'id',check:true,checkAll:true,width:'1%',align:'center'},
				{key:'sid',name:'资源ID',width:'20%',align:'center'},
				{key:'isp',name:'服务商',width:'10%',align:'center'},
				{key:'status',name:'启用',width:'5%',align:'center'},
				{key:'createtime',name:'创建时间',width:'20%',align:'center'},
				{key:'deadline',name:'到期时间',width:'20%',align:'center'},
				{key:'hostname',name:'资源标签',width:'auto',align:'center'}],
				formid:'dataFrom',
				loadAfter:tab_trOnclick,
		});
	}

	/**
	行添加双击事件
	**/
	function tab_trOnclick(){
		var trs=$("#dataFrom_table tbody tr");
		for(var i=0;i<trs.length;i++){
			$(trs[i]).on("dblclick",function(){
				var tr=$(this);
				var tds=tr.find("td");
				var cloudurl=tr.find("a");
				var id=$(tds[0]).find("input").val();
				addDialog(id,cloudurl[1],$(tds[1]).text(),$(tds[2]).text(),$(tds[3]).text(),$(tds[4]).text(),$(tds[5]).text(),$(tds[6]).text());
			});
		}
	}

	/**
	删除功能
	**/
	function delData(){
		var inputChecks=$("input:checkbox[name='dataFrom_check']:checked");
		if(inputChecks.length==0){
			layer.alert('请选中删除项！');
			return;
		}
		layer.confirm('确认删除?', {icon: 2, title:'提示'},function(index){
			var orders='';
			for(var i=0;i<inputChecks.length;i++){
				orders+=inputChecks[i].value;
				if(i!=inputChecks.length-1){
					orders+=',';
				}
			}
			$.ajax({
				type:'POST',
				url:'/admin_data/baseinfo_deleteFun',
				dataType:'text',
				data:'id='+orders,
				success:function(text){
				       layer.close(index);
				       if(text=='1'){
				       	loadTable(1);
				       }else{
				       	layer.alert('操作失败');
				       }
				},error:function(){
					layer.close(index);
					layer.alert('操作失败');
				}
			});
		});

	}
</script>
{% endblock %}

{% block content %}
<!-- 承上连接V.html：content+content-header -->

  <div class="container-fluid">
    <div class="row-fluid">
      <div class="span12">
   <!--aaa-->
    <form action="/admin_data/baseinfo_pagedataList" id="dataFrom" onSubmit="return false">
    	<input type="hidden" id="page" name="page" value="1"/>
        <input type="hidden" id="num" name="num" value="15"/>
        <div>
			<input class="btn btn-primary" type="button" name="addButton" value="添加" onclick="addDialog();" style="float:left;"/>
			{% if perms.delete_contenttype %}
			<input class="btn btn-danger" type="button" name="deleteButton" value="删除" onclick="delData();" style="float:left;"/>
			{% endif %}
    		<input type="text" name="tj" placeholder="请输入关键字,回车查询" id="tj" style="background-color: white; float:right" onKeydown="keyEnter();"/>
		</div>
    </form>
	<div id="dataTab"></div>
    <!-- end aa-->






  <div id="addTable" style="display:none;">
  		<center>
        	 <table border="0" style="color:#000;">
        	    <tr style="display:none;">
                	<td style="text-align:right;"><span style="position:relative; top:-5px;"></span></td>
                    <td><input type="text" name="id"/></td>
                </tr>
                <tr>
                	<td style="text-align:right;"><span style="position:relative; top:-5px;">资源ID：</span></td>
                    <td><input type="text" name="sid"/></td>
                </tr>
                <tr>
                	<td style="text-align:right;"><span style="position:relative; top:-5px;">服务商：</span></td>
                    <td><input type="text" name="isp"/></td>
                </tr>
                <tr>
                	<td style="text-align:right;"><span style="position:relative; top:-5px;">平台地址：</span></td>
                    <td><input type="text" name="url"/></td>
                </tr>
                <tr>
                	<td style="text-align:right;"><span style="position:relative; top:-5px;">资源标签：</span></td>
                    <td><input type="text" name="hostname"/></td>
                </tr>
                <tr>
                	<td style="text-align:right;"><span style="position:relative; top:-5px;">创建时间：</span></td>
                    <td><input type="text" name="createtime" onClick="WdatePicker({skin:'blueFresh',orderdate_end:'%Y-%m-%d %H:%M:%S',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" readonly="readonly"/></td>
                </tr>
                <tr>
                	<td style="text-align:right;"><span style="position:relative; top:-5px;">到期时间：</span></td>
                    <td><input type="text" name="endtime" onClick="WdatePicker({skin:'blueFresh',orderdate_end:'%Y-%m-%d %H:%M:%S',dateFmt:'yyyy-MM-dd HH:mm:ss',alwaysUseStartDate:true})" readonly="readonly"/></td>
                </tr>
                <tr>
                	<td style="text-align:right;"><span style="position:relative; top:-5px;">是否启用：</span></td>
                    <td>
						<select name="status"/>
							<option value="1" name="是">是</option>
							<option value="0" name="否">否</option>
						</select>
					</td>
                </tr>
            </table>
         </center>
   </div>

   </div>
   </div>
   </div>

{% endblock %}